{% extends 'layouts/base.html' %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1>درباره ما</h1>
                <p>سامانه جامع قرآنی، سامانه‌ای جهت ارائه کلیه خدمات تخصصی و عمومی حوزه قرآن و عترت در استان در سطوح
                    عمومی ستادی و نهادی بوده که این خدمات در قالب زیرسامانه‌های متعدد به مخاطبان و متقاضیان ارائه
                    می‌گردد.
                </p>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

{% endblock %}